body{
	font-size:14px;
}
#wrapper{
	background-color:#fff;
	margin:100px auto 0 auto;
	position:relative;
	text-align:center;
	width:980px;
}

#searchDiv{
	background:url('/images/searcharea.jpg') no-repeat transparent;
	height:85px;
	margin:0 auto;
	position:relative;
	width:584px;
}
#searchDiv h1{ display:none; }
#search{
	background:transparent;
	border:none;
	height:20px;
	position:absolute;
	top:30px;
	left:280px;
	width:240px;
}
#submitSearch{
	background:transparent;
	border:none;	
	cursor:pointer;
	height:25px;
	padding:0;
	position:absolute;	
	top:25px;
	right:25px;	
	width:27px;
}
h2{	
	font-size:16px;
	font-weight:bold;	
}

/* search results */
#searchResults{
	position:relative;
	text-align:left;
}
#searchResults h2{ 
	background-color:#d5dff3;
	height:22px;
	padding-left:5px;
	padding-top:6px;
}
#searchResults h3{
	float:right;
	font-weight:normal;
	position:absolute;
	right:10px;
	top:6px;
}
.paging{	
	font-size:16px;
	margin:30px 0;
	text-align:center;
}
.paging a{
	margin-right:5px;
}
#results{ 
	float:left; 
	width:700px;
}
.result{	
	margin:25px 0;	
}
.jobTitle a{
	color:#00c;
	display:block;
	font-size:18px;
}
.company{
	display:block;
	font-weight:bold;
	margin-bottom:3px;
}
