body{
	background:#fff;
	color:#000;
	font:62.5% Verdana normal;
}
.wrapper{
	font-size:1.4em;
	margin:0 auto;
	width:949px;	
}
a{
	color:#fff;
	text-decoration:none; 
}
a:hover{ color:#01ABED; }

/**
  * header 
  **/
.header{ 
	background:url('../img/header-bkgr.gif') transparent 310px top no-repeat;
	height:95px;
	position:relative;	
}
.header .logo{ 
	position:absolute;
	left:0;
}
/* main nav */
#mainNav{
	position:absolute;
	bottom:0;
	left:328px;	
}
#mainNav li{
	float:left;
	margin-right:25px;	
}
#employeesLink{ margin-left:5px; }
#profileLink{ margin-left:5px; }

/* search */
#searchForm{
	position:absolute;
	left:300px;
		
}
#searchForm ul{ margin-left: 155px; }
#searchForm li{	
	height:28px;
	float:left;
	width:56px;
}
#searchForm a{ 
	display:block;
	margin-top:9px;
	padding-left:10px;	
}
#searchForm a.jobs{ padding-left:15px; }
#searchForm li.current{	
	background:url('../img/btn-blank.gif') transparent left top no-repeat;
	height:28px;
	width:56px;
}
#search{ /* the input box */
	background:transparent;
	border:0;
	left:18px;
	position:absolute;
	top:33px;
	width:345px;
}
#submitSearch{
	background:transparent;
	border:0;
	cursor:pointer;
	height:43px;
	left:365px;
	position:absolute;
	top:25px;
	width:46px;
}
#submitSearch:hover{ background:url('../img/nav-go-on.gif') no-repeat left -4px transparent; }
#joinLink{
	background:url('../img/joinOff.gif') no-repeat top left;
	position:absolute;
	height:46px;
	right:40px;
	text-indent:-1000em;
	top:31px;
	width:119px;
}
#joinLink:hover{ background:url('../img/joinOn.gif') no-repeat top left; }

#loginLink{	
	position:absolute;
	right:77px;
	text-decoration:none;
	top:78px;
}

/* end header */
