<?xml version="1.0"?>
<configdata>
	<development>
		<database>
	        <adapter>Pdo_Mysql</adapter>
        	<config>
            	<host>localhost</host>
            	<username>root</username>
            	<password>elizabeth</password>
            	<dbname>firmament</dbname>
        	</config>
        </database>    	
    </development>
</configdata>
